<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">
        <title>Cloner.Tech | Etape 3</title>
		<meta name="description" content="CLONER.TECH est le seul et unique Panel Web Cloneur Discord développé par Niroxy#0001 qui vous permettra de dupliquer TOUS les serveurs Discord, oui j'ai bien dit TOUS !! Salons, Rôles, Permissions... et aucun Bot n'est nécessaire, CLONER utilise une technologie WEB-SOCKET passant par un simple utilisateur."/>
        <meta name="theme-color" content="#26009B">
        <meta name="keywords" content="discord bot français clone serveur cloner.tech tech cloner clone" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="CLONER.TECH" />
        <meta property="og:title" content="CLONER.TECH | Discord Guild Cloner" />
        <meta property="og:description" content="CLONER.TECH est le seul et unique Panel Web Cloneur Discord développé par Niroxy#0001 qui vous permettra de dupliquer TOUS les serveurs Discord, oui j'ai bien dit TOUS !! Salons, Rôles, Permissions... et aucun Bot n'est nécessaire, CLONER utilise une technologie WEB-SOCKET passant par un simple utilisateur."/>
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="CLONER.TECH | Discord Guild Cloner">
        <meta name="twitter:description" content="CLONER.TECH est le seul et unique Panel Web Cloneur Discord développé par Niroxy#0001 qui vous permettra de dupliquer TOUS les serveurs Discord, oui j'ai bien dit TOUS !! Salons, Rôles, Permissions... et aucun Bot n'est nécessaire, CLONER utilise une technologie WEB-SOCKET passant par un simple utilisateur.">
        <link rel="icon" type="image/png" sizes="16x16" href="http://image.noelshack.com/fichiers/2019/43/4/1571873785-inv9ytxlbt0ah1utnvj1phizzvrj40asd9xgxfcc7kh6xze-cj8nevc6x1kmxcb2nsw-s300.png">
        <meta name="author" content="Aѕнυяα Ƙαтѕυ#2733"/>
        <meta name="keywords" content="discord cloner, discord, free discord cloner, discord clone, clone, discord copy, copy, guild copy, guild"/>
        <!--===============================================================================================-->
	        <link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="../css/util.css">
            <link rel="stylesheet" type="text/css" href="../css/main.css">
        <!--===============================================================================================-->
            <script src="https://kit.fontawesome.com/9aac09078d.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </head>
    <body>
        <center>
        <div class="contact1">
            <center>
                <div class="container-contact1">
                        <form action="/etape/4" method="POST" class="contact1-form validate-form">
                            <div class="contact1-form validate-form">
                                <span class="contact1-form-title">
                                    Cloner.Tech
                                </span>
                            
                                <input id="idvide" name="idvide" type="hidden" value="<%= idvide %>">

                                <div class="wrap-input1 validate-input" data-validate = "Invitation requise.">
                                    <input class="input1" type="text" name="invite" id="invite" placeholder="Invitation du serveur à copier">
                                    <span class="shadow-input1"></span>
                                </div>
                            
                                <div class="container-contact1-form-btn">
                                    <button type="submit" id="button" class="contact1-form-btn">
                                        <span>
                                            Continuer
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </center>
        <!--===============================================================================================-->
            <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
            <script src="../vendor/bootstrap/js/popper.js"></script>
            <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
            <script src="../vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
            <script src="../vendor/tilt/tilt.jquery.min.js"></script>
            <script >
                $('.js-tilt').tilt({
                    scale: 1.1
                })
            </script>
            
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-23581568-13');
            </script>
            
        <!--===============================================================================================-->
            <script src="../js/main.js"></script>
            <script>
                $('#button').attr('disabled',true);
         
                $(document).ready(function() {
                    var empty_textarea = true;
                    var interval;
                
                    $('#invite').on('keyup', function() {
                        var textarea_value = $("#invite").val();
                        if(textarea_value != '') {
                            $('#button').removeAttr('disabled');
                        } else {
                            $('#button').attr('disabled',true);
                        }
                    });
                });     
            </script>
    </body>
</html>
